<header class="site-header">
  <div class="container header-bar">
    <div class="brand-stack">
      <a class="brand" href="/">
        <img src="/images/Logo_1.png" alt="CSE Motors logo" class="brand-mark" />
        <span class="brand-name">CSE Motors</span>
      </a>
      <p class="header-tagline">Innovate the way you move</p>
    </div>
    <a class="account-link" href="#account">My Account</a>
  </div>
</header>
