<header class="site-header">
  <div class="container header-bar">
    <div class="brand-stack">
      <a class="brand" href="/">
        <img src="/images/Logo_1.png" alt="CSE Motors logo" class="brand-mark" />
        <span class="brand-name">CSE Motors</span>
      </a>
      <p class="header-tagline">Innovate the way you move</p>
    </div>

    <nav class="header-account">
      <% if (locals.loggedin) { %>
        <a class="welcome-link" href="/account/">
          Welcome <%= locals.accountData.account_firstname %>
        </a>
        <a class="account-link account-link-secondary" href="/account/favorites">
          Saved Vehicles
        </a>
        <a class="account-link" href="/account/logout">Logout</a>
        <% } else { %>
          <a class="account-link" href="/account/login">My Account</a>
          <% } %>
    </nav>
  </div>
</header>