<nav class="site-nav" aria-label="Main navigation">
  <div class="container nav-container">
    <button class="nav-toggle" aria-controls="primary-nav" aria-expanded="false" data-icon-closed="☰" data-icon-open="✕">
      <span class="sr-only">Menu</span>
      <span aria-hidden="true" class="nav-toggle-icon">☰</span>
    </button>
    <%- nav %>
  </div>
</nav>
