<section class="vehicle-detail-page">
  <div class="container">
    <header class="vehicle-detail-page__header">
      <h1 class="page-title"><%= title %></h1>
    </header>
    <div class="vehicle-detail-page__body">
      <%- vehicleDetail %>
    </div>
  </div>
</section>
